h1 {
    color:#87b0d3;}
h1 {
    
    text-align: center; }
    
ol {text-align: center; }
li {text-align: center; }

ol {font-size: 20px; }

h1 {font-family: "arial" ; }
    
ol {font-family: "arial" ; }
    
img {border: 5px solid; }

h1 {font-size: 40px;}

